@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Full Name: Nguyen Duy Tuan<br />
    Student ID: 520K0232<br />
    <abbr title="Phone">Phone Number:</abbr>
    0772928266
</address>

<address>
    <strong>Support email:</strong>   <a href="mailto:tuannguyenduy2@gmail.com">tuannguyenduy2@gmail.com</a><br />
    <strong>Student email:</strong> <a href="mailto:520K0232@student.tdtu.edu.vn">520K0232@student.tdtu.edu.vn</a>
</address>